{% extends "base.html" %}

{% block main %}
    
    <h2>WebSocket Chat</h2>

    <form id="form">
        <input type="text" name="message" />
    </form>

    <div id="messages"></div>

    <script>
        const ws_url = `ws://${location.host}/ws/chat/`;
        const websocket = new WebSocket(ws_url);

        websocket.onopen = (e) => { console.log("connected"); };
        websocket.onmessage = (e) => {
            console.log("received", e.data);
            const { message } = JSON.parse(e.data);
            document.querySelector("#messages").innerHTML += `<br/>${message}`;
        };
        websocket.onerror= (e) => { console.error("error", e); };
        websocket.onclose = (e) => { console.error("closed", e); };

        function sendMessage(message) {
            if ( websocket.readyState === WebSocket.OPEN ) {
                websocket.send(JSON.stringify({ message }));
            }
            else {
                console.error("웹소켓이 열려있지 않습니다.");
            }
        }

        document.querySelector("#form").addEventListener("submit", function(e) {
            e.preventDefault();

            const message = e.target.message.value;
            e.target.reset();

            sendMessage(message);
        });
    </script>
{% endblock %}
