django~=5.1.0
daphne
channels~=4.2.0

django-debug-toolbar
django-environ~=0.11.2
django-extensions

openai
langchain
langchain-core
scikit-learn
numpy

colorlog

psycopg2-binary
pgvector
tiktoken
django-lifecycle
anthropic
google-genai
